.card {
    border: 1px solid #000;
    background-color: lightgoldenrodyellow;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    color: white;
    background-color: #F2F7FD;
}
body {
    margin: 0;
}