@keyframes linkHover
25%
-webkit-transform: rotate(-20deg)
transform: rotate(-20deg)
75%
-webkit-transform: rotate(20deg)
transform: rotate(20deg)
]t-transform: scale(1.01) rotate(0deg)
transform: scale(1.01) rotate(0deg)
]it-transform: scale(1.4) rotate(5deg)
transform: scale(1.4) rotate(5deg)
@font-face
font-family: 'Geometria'
src: url('fonts/Geometria-Bold.eot')
src: local('Geometria Bold'), local('Geometria-Bold'),
url('fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
url('fonts/Geometria-Bold.woff') format('woff'),
url('fonts/Geometria-Bold.ttf') format('truetype')
font-weight: bold
font-style: normal

@keyframes case
0%
-webkit-transform: scale(1.01) rotate(0deg)
@font-face
font-family: 'Geometria'
src: url('fonts/Geometria-Medium.eot')
src: local('Geometria Medium'), local('Geometria-Medium'),
url('fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
url('fonts/Geometria-Medium.woff') format('woff'),
url('fonts/Geometria-Medium.ttf') format('truetype')
font-weight: 500
font-style: normal

@font-face
font-family: 'Georgia'
src: url('fonts/Georgia-Bold.eot')
src: local('Georgia Bold'), local('Georgia-Bold'),
url('fonts/Georgia-Bold.eot?#iefix') format('embedded-opentype'),
url('fonts/Georgia-Bold.woff') format('woff'),
url('fonts/Georgia-Bold.ttf') format('truetype')
font-weight: bold
font-style: normal

@font-face
font-family: 'Georgia'
src: url('fonts/Georgia.eot')