.card {
    border: 1px solid #000;
    background-color: lightgoldenrodyellow;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    color: white;
    background-color: #000000;
   column-gap: 10px;
    box-shadow: indianred;
    transition: auto;
}
body {
    margin: 0;
}