.tab-title {
    font-size: 24px;
    padding: 10px;
    border-bottom: 3px solid transparent;
    transition: all ease-in-out 0.3s;
    position: relative;

}
.tab-title.hover{
    border-bottom-color: indianred;
    cursor: pointer;
}
.tab-title.selected {
    border-bottom-color: royalblue;
}
.tab-title.selected + div {
    transform: scaleX(1);
}

.tab-body {
    left: 0;
    right: 0;
    padding: 10px;
    position: absolute;
    transform: scaleX(0);
    transition: all ease-in-out 0.3s;
    transform-origin: -50% 0;
    background-color: #e1e1e1;
}
.tabs {
    display: flex;
}
.tabs > div {
    flex: 1 1 25%;
    background-color: #e1e1e1;
}
body {
    margin: 0;
}